[submodule "server/client-gateway"]
	path = server/client-gateway
	url = https://github.com/Work-Transit-Backend-Microservices-Nest/client-gateway.git
[submodule "server/staff-ms"]
	path = server/staff-ms
	url = https://github.com/Work-Transit-Backend-Microservices-Nest/staff-ms.git
[submodule "server/roles-ms"]
	path = server/roles-ms
	url = https://github.com/Work-Transit-Backend-Microservices-Nest/roles-ms.git
[submodule "server/users-ms"]
	path = server/users-ms
	url = https://github.com/Work-Transit-Backend-Microservices-Nest/users-ms.git
[submodule "server/auth-ms"]
	path = server/auth-ms
	url = https://github.com/Work-Transit-Backend-Microservices-Nest/auth-ms.git
[submodule "server/emails-ms"]
	path = server/emails-ms
	url = https://github.com/Work-Transit-Backend-Microservices-Nest/emails-ms.git
